<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="../static/css/layout.css">
    <style>

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
        <ul class="navbar-nav ">
            <a class="navbar-brand" href="#">WolkTrack</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row content">

            <!-- Left Sidebar -->
            <div class="col-sm-3 sidenav">
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
            </div>

            <!-- Content -->
            <div class="col-sm-7 text-left main-content">
                <!--<center>
          <div class="row">
            <div class="card status-card col-md" style="width: 18rem;">
              <i class="material-icons card-icons">schedule</i>
              <div class="card-body">
                <h5 class="card-title">Wish List</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">Cras justo odio</li>
                <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item border-0">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>

            <div class="card status-card col-md" style="width: 18rem;">
              <i class="material-icons card-icons">trending_up</i>
              <div class="card-body">
                <h5 class="card-title">In Process</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">Cras justo odio</li>
                <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item border-0">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="card status-card col-md" style="width: 18rem;">
              <i class="material-icons card-icons">task</i>
              <div class="card-body">
                <h5 class="card-title">Applied</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item border-0">Cras justo odio</li>
                <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item border-0">Vestibulum at eros</li>
                
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>

            <div class="card status-card col-md" style="width: 18rem;">
              <i class="material-icons card-icons">beenhere</i>
              <div class="card-body">
                <h5 class="card-title">Offers</h5>
              </div>
              <ul class="list-group list-group-flush" >
                <li class="list-group-item border-0">Cras justo odio</li>
                <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item border-0">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>



        </center> -->

                <div class="col-md-6 offset-md-3 mt-5">
                    <br>
                    <h1>Simple Job Application Form</h1>
                    <form accept-charset="UTF-8" action="https://getform.io/f/{your-form-endpoint-goes-here}"
                        method="POST" enctype="multipart/form-data" target="_blank">
                        <div class="form-group">
                            <label for="exampleInputName">Full Name</label>
                            <input type="text" name="fullname" class="form-control" id="exampleInputName"
                                placeholder="Enter your name and surname" required="required">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" required="required">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter your email address">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" name="address" class="form-control" id="inputAddress"
                                placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" name="city" class="form-control" id="inputCity"
                                    placeholder="Istanbul">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" name="zip" class="form-control" id="inputZip" placeholder="34000">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                            <div class="col-10">
                                <input class="form-control" name="tel" type="tel" value="1-(555)-555-5555"
                                    id="example-tel-input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-date-input" class="col-3 col-form-label">Start Date</label>
                            <div class="col-10">
                                <input class="form-control" name="starting_date" type="date" value="2020-02-01"
                                    id="example-date-input">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label class="mr-4">Upload your CV:</label>
                            <input type="file" name="file">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>



            </div>

            <!-- Right Sidebar -->
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>



</body>

</html>