{% extends "layout/base.html" %}
{% block content %}
<div class="row">
  <div class="card status-card col-md" style="width: 18rem;">
    <i class="material-icons card-icons">schedule</i>
    <div class="card-body">
      <h5 class="card-title">Wish List</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for item in data.wishlist %}
      <li class="list-group-item border-0">{{ item }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
        <a href="/view?show=wish_list" class="card-link">View More</a>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">Add New</a>
    </div>
  </div>

  <div class="card status-card col-md" style="width: 18rem;">
    <i class="material-icons card-icons">trending_up</i>
    <div class="card-body">
      <h5 class="card-title">In Process</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for item in data.inprogress %}
      <li class="list-group-item border-0">{{ item }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
        <a href="/view?show=in_progress" class="card-link">View More</a>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">Add New</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="card status-card col-md" style="width: 18rem;">
    <i class="material-icons card-icons">task</i>
    <div class="card-body">
      <h5 class="card-title">Applied</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for item in data.applied %}
      <li class="list-group-item border-0">{{ item }}</li>
      {% endfor %}

    </ul>
    <div class="card-body">
        <a href="/view?show=applied" class="card-link">View More</a>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">Add New</a>
    </div>
  </div>

  <div class="card status-card col-md" style="width: 18rem;">
    <i class="material-icons card-icons">beenhere</i>
    <div class="card-body">
      <h5 class="card-title">Offers</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for item in data.offers %}
      <li class="list-group-item border-0">{{ item }}</li>
      {% endfor %}
    </ul>
    <div class="card-body">
        <a href="/view?show=offers" class="card-link">View More</a>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModalCenter">Add New</a>

    </div>
  </div>
</div>

<!-- Modal for New Application -->
<div class="modal fade new-application-modal" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New Job Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        <form action="/add_new_application" method="POST" id="add-new-application">
        <div class="form-group">
          <label for="exampleInputName">Company Name</label>
          <input type="text" name="companyName" class="form-control" id="exampleInputName" placeholder="Google"
            required="required">
        </div>
        <div class="form-group">
          <label for="Location" required="required">Location</label>
          <input type="text" name="location" class="form-control" id="Location" placeholder="Enter Location">
        </div>
        <div class="form-group">
          <label for="JobProfile">Job Profile</label>
          <input type="text" name="jobProfile" class="form-control" id="JobProfile" placeholder="Enter Job Profile">
        </div>
        <div class="form-group">
          <label for="Salary">Salary</label>
          <input type="text" name="salary" class="form-control" id="Salary" placeholder="Enter Salary">
        </div>
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" name="username" class="form-control" id="Username" placeholder="Enter Username">
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="text" name="password" class="form-control" id="Password" placeholder="Enter Password">
        </div>
        <div class="form-group">
          <label for="SecurityQuestion">Security Question</label>
          <input type="text" name="securityQuestion" class="form-control" id="SecurityQuestion"
            placeholder="Enter Security Question">
        </div>
        <div class="form-group">
          <label for="SecurityAnswer">Security Answer</label>
          <input type="text" name="securityAnswer" class="form-control" id="SecurityAnswer"
            placeholder="Enter Security Answer">
        </div>
        <div class="form-group">
          <label for="Notes">Notes</label>
          <textarea class="form-control" id="Notes" name="notes" placeholder="Save links and other information here"></textarea>
        </div>
        <div class="form-group">
          <label for="example-date-input" class="col-3 col-form-label">Date Applied</label>
          <div class="col-10">
            <input class="form-control" name="dateApplied" type="date" value="2020-02-01" id="example-date-input">
          </div>
        </div>
        <div class="form-group mt-3">
          <label class="mr-4">Upload your CV:</label>
          <input type="file" name="file">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock content %}