{% extends "layout/base.html" %}
{% block content %}
<table class="table table-striped" style="color: #A9B4AC;">
    <thead>
    <tr>
        <th scope="col">Company</th>
        <th scope="col">Status</th>
        <th scope="col">Applied On</th>
    </tr>
    </thead>
    <tbody>
    {%for row in data %}
        <tr>
            <th scope="row">{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}