{% extends "layout/base.html" %}
{% block content %}
<table class="table table-striped" style="color: #A9B4AC;">
    <thead>
    <tr>
        <th scope="col">Company</th>
        <th scope="col">Status</th>
        <th scope="col">Applied On</th>
        <th scope="col">Due Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Amazon</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    <tr>
        <th scope="row">Microsoft</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    <tr>
        <th scope="row">Microsoft</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    <tr>
        <th scope="row">Microsoft</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    <tr>
        <th scope="row">Microsoft</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    <tr>
        <th scope="row">Microsoft</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    <tr>
        <th scope="row">Microsoft</th>
        <td>TO_DO</td>
        <td>2021/06/01</td>
        <td>2021/10/10</td>
    </tr>
    </tbody>
</table>

{% endblock content %}