<!DOCTYPE html>
<html lang="en">

<head>
  <title>WolfTrack - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <style>

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
    <ul class="navbar-nav ">
      <a class="navbar-brand" href="/">WolfTrack</a>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row content">

      <!-- Left Sidebar -->
      <div class="col-sm-3 sidenav sidenav-left">
        <center>
          <img class="rounded-circle" alt="100x100"
            src="https://ih1.redbubble.net/image.1703296696.9941/st,small,507x507-pad,600x600,f8f8f8.jpg" height="250px"
            width="250px" data-holder-rendered="true">

          <br><br>

          <div class="card" style="width: 18rem; text-align: left;">
            <div class="card-body">
              <h5 class="card-title">{{data["full_name"]}}</h5>
              <div class="row">
                <div class="col">
                  <b>Gender</b>
                </div>
                <div class="col">
                  Female
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <b>Location</b>
                </div>
                <div class="col">
                  Raleigh, NC
                </div>
              </div>


            </div>
          </div>

          <br><br>
        </center>

      </div>

      <!-- Content -->
      <div class="col-sm-6 text-left main-content">
        <center>
          {% block content %}{% endblock %}
        </center>
      </div>



      <!-- Right Sidebar -->
      <div class="col-sm-3 sidenav sidenav-right">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Upcoming Events</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">Due Date</th>
                </tr>
              </thead>
              <tbody>
                {% for item in upcoming_events %}
                <tr>
                  <td>{{ item.company }}</td>
                  <td>{{ item.duedate }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <br>

        <!-- Map from Power BI -->
        <div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Job Application Map</h5>
              <center>
                <iframe height="220"
                  src="https://app.powerbi.com/view?r=eyJrIjoiZTIwOGJkZjctNzYzMC00YjQyLTljMjQtZWUxM2Q3Y2ZlYjk0IiwidCI6IjgwZjIzZjRhLTkxYTQtNDU2Ni04ZGIxLTNiY2FiYjIxZDFjYiIsImMiOjF9"
                  frameborder="0" allowFullScreen="false"></iframe>
              </center>
            </div>
          </div>



        </div>
      </div>
    </div>


</body>

</html>